.ArticleDetails {
    height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.block {
    margin-top: 16px;
}

.skeleton {
    margin-top: 15px;
}
