.modal {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
}

.outline {
    background: var(--outline-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: opacity 0.2s ease-in-out;
}

.content {
    background: var(--inverted-bg-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    min-height: 300px;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    color: var(--inverted-primary-color);
}

.open {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.closing {
    .outline {
        opacity: 0;
    }

    .content {
        transform: scale(0);
    }
}
