.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.swicthers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.toggle {
    border: 2px solid var(--inverted-primary-color);
    font: 1.1429rem/1rem;
    background: none;
    box-shadow: none;
    color: white;
    text-align: center;
    padding: 0 2rem;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    height: 3.2rem;
    clip-path: polygon(
        0% 10%,
        70% 10%,
        75% 0%,
        100% 0%,
        100% 93.6%,
        28.2% 93.6%,
        20% 100%,
        0% 100%
    );

    &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 4.5px;
        width: 0;
        height: 0;
        z-index: 1;
        border-top: 10px solid var(--inverted-primary-color);
        border-right: 10px solid transparent;
        transition: all 0.3s;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 4.5px;
        width: 0;
        height: 0;
        z-index: 1;
        border-bottom: 10px solid var(--inverted-primary-color);
        border-left: 10px solid transparent;
        transition: all 0.3s;
    }

    &:hover {
        color: var(--primary-color);
        background-color: var(--inverted-primary-color);
        border: 2px solid var(--primary-color);

        &::after {
            bottom: 1rem;
            right: 0.875rem;
            border-bottom: 10px solid var(--primary-color);
        }

        &::before {
            top: 1rem;
            left: 0.875rem;
            border-top: 10px solid var(--primary-color);
        }
    }
}
