.wrapper {
    display: flex;

    & label {
        width: fit-content;
        margin-right: 10px;
        color: var(--inverted-primary-color);
    }
}

.input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    color: var(--inverted-primary-color);
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}
