.dark-theme {
    --bg-color: #0020c1;
    --inverted-bg-color: #f4f5fb;
    --primary-color: rgb(7 233 7);
    --secondary-color: rgb(67 170 67);
    --inverted-primary-color: rgb(10 163 252);
    --inverted-secondary-color: rgb(59 102 182);

    // skeleton
    --skeleton-color: #3636e9;
    --skeleton-shadow: #101047;

    // code

    --code-bg: #fff;
}
