.pink-theme {
    --bg-color: #c00097;
    --inverted-bg-color: #fbf4f9;
    --primary-color: #f5f5f5;
    --secondary-color: #7c2168;
    --inverted-primary-color: #c00097;
    --inverted-secondary-color: #f8ccfc;
}
